.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1px;
}

.login-card {
    height: 470px;
    width: 450px;
    padding: 4rem 2.5rem;
    background: #ffffff;
    border: 1px solid #dad9d9;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);

}

.login-title {
    font-size: 2rem;
    font-weight: 700;
    color: #0e0000;
    padding-bottom: 2rem;
    text-align: center;
}

.login-fields {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100% !important;
}

.login-fields .ui-password input {
    width: 100%;
}

.login-actions {
    display: flex;
    gap: 1rem;
}

.login-button {
    width: 50%;
    font-size: 1rem;
}

.cancel-button {
    width: 50%;
    font-size: 1rem;
}